<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Document</title>
</head>
<body>
    <ul class="menu">
        <li>{% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}">Sign in</a>
            {% else %}
            <a href="{% url 'account_logout' %}">Sign out</a>
            {% endif %}
        </li>
        <li><a class="{% if section == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a> </li>
        {% if perms.blog.add_post %}
        <li><a class="{% if section == 'blog_create' %}active{% endif %}" href="{% url 'blog:create' %}">Add new post</a> </li>
        {% endif %}
    </ul>
    {% block title %} {% endblock %}

    <p>{% block content %} Some default content {% endblock %}</p>
</body>
</html>