{% extends "base.html" %}

{% block title %}
<h1>Home</h1>
{% endblock %}

{% block content %}
<!-- <p>{{ perms.blog }}</p> -->

{% if tag %}
<p>Posts tagged with <strong>"{{ tag.name }}"</strong></p>
{% endif %}
{% for post in posts %}

<a href="{{ post.get_absolute_url }}"> {{ post.pk }} : {{ post }}</a>
{% if perms.blog.change_post %}
[ <a href="{% url 'blog:edit' pk=post.pk  %}">Edit</a> ]
{% endif %}
{% if perms.blog.delete_post %}
[ <a href="{% url 'blog:delete' pk=post.pk  %}">Delete</a> ]
{% endif %}
 <br>

{% endfor %}
{% endblock %}