.main {
    margin: 0 auto;
    width: 1000px;
    padding-top: 1em;
}

.content {
    width: 70%;
    float: left;
    background-color: #fff;
    padding: 2em;
}

.sidebar {
    width: 30%;
    float: left;
    padding: 0 1em 1em 1em;

    &-ad {
        margin-bottom: 1em;
        text-align: center;
        background-color: #f0f0f0;
        height: 150px;
        line-height: 150px;
        color: #a8a8a8;
        text-transform: uppercase;
    }
}