@import "normalize";
@import "common";
@import "header";
@import "layout";
@import "blog";
@import "post_list";
@import "forms";
@import "pagination";

 
.menu {
    list-style: none;
    padding-left: 0;
}

.menu > li {
    display: inline-block;
}

.menu > li > a {
    text-decoration: none;
    color: #000;
    margin: 0 0.3em;
}

.menu > li > a.active {
    padding-bottom: 0.3em;
    border-bottom: 2px solid #528dea;
    text-transform: uppercase;
}