{% extends "base.html" %}

{% block title %}<h1>{{ post }}</h1>{% endblock %}

{% block content %}

{% if post.image %}
<img class="post-img" src="{{ post.image.url }}">
<h3>Crop</h3>
<img class="post-img" src="{{ post.image_thumbnail.url }}">
{% endif %}

<p>Posted {{ post.date | date:"M j, Y"}}</p> 
<p>Updated {{ post.updated }}</p>


{% if post.author %}<p>{{ post.author }}</p> {% endif %}
<p>{{ post.body }}</p>

{% if post.tags %}
    <div class="tags">
        {% for tag in post.tags.all %}
        <a href="{% url 'blog:posts_by_tag' tag.slug %}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}